{% extends 'student_template/base_template.html' %}
{% block page_title %}
Add School Subject
{% endblock page_title %}
{% block main_content %}
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
 <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Subject</button>
                </div>
</form>
{% endblock main_content %}