{% extends 'student_template/base_template.html' %}
{% block page_title %}
Institute Subject Detail
{% endblock page_title %}
{% block main_content %}
<h2>subject name : {{institute_subject.subject_name}}</h2>
<h3>teacher : {{institute_subject.teacher_name}}</h3>
<h3>Institute :{{institute_subject.institute_name}}</h3>
<h3>total time studying per week : {{institute_subject.total_time_studying_per_week}}</h3>
<h3>has test in class : {{institute_subject.has_test_in_class}}</h3>
<h3>average test percentage : {{institute_subject.average_test_percentage}}</h3>
<h3>total test numbers : {{institute_subject.total_test_numbers}}</h3>
<h3>target test numbers : {{institute_subject.target_test_numbers}}</h3>
<h3>time in class : {{institute_subject.total_time_in_class_per_week}}</h3>
<hr>
<hr>
<h2>Assignment</h2>
<ul>
    {% for assignment in subject.homeworks.all %}
    <li><a href="{% url 'assignment_detail' assignment.pk %}">{{ assignment.content }}</a> </li>
    {% empty %}
    <li>no assignment</li>
    {% endfor %}
</ul>
<hr>

<p><a href="{% url 'institute_subject_edit' institute_subject.pk %}"> Update subject</a> </p>
{% endblock main_content %}